<h1>Профиль</h1>

<div class="row">
  <div class="col s6">
    {{#if user.avatarUrl}}
      <img
        class="avatar"
        src="/{{user.avatarUrl}}"
        alt="avatar-{{user.name}}"
      />
    {{else}}
      <img
        class="avatar"
        src="/images/user.png"
        alt="empty-avatar-{{user.name}}"
      />
    {{/if}}
  </div>
  <div class="col s6">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <p>Ваш email: <strong>{{user.email}}</strong></p>
      <div class="input-field">
        <input
          id="name"
          name="name"
          type="text"
          class="validate"
          required
          value="{{user.name}}"
        />
        <label for="name">Ваше имя</label>
        <span class="helper-text" data-error="Имя не может быть пустым"></span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Аватар</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
      </div>

      <button class="btn">Изменить</button>
    </form>
  </div>
</div>